# notebook checkpoints
*checkpoint.ipynb
/CCFRP/.ipynb_checkpoints/CCFRP_data_conversion-checkpoint.ipynb
/CCFRP/.ipynb_checkpoints/CCFRP_species_name_conversion-checkpoint.ipynb
/CCFRP/.ipynb_checkpoints/CCFRP_conversion-checkpoint.ipynb
/CCFRP/.ipynb_checkpoints/CCFRP_grid-level_conversion-checkpoint.ipynb

# data files
*.csv
/CCFRP/CCFRP_converted.csv
/CCFRP/CCFRP_grid-level_converted.csv
/CCFRP/.ipynb_checkpoints/CCFRP_grid-level_converted-checkpoint.csv

# database files
/North coast kelp/Abalone_Dive Surveys_EH_06242020.mdb
/North coast kelp/AbaloneDiveSurveys-06242020.mdb
